@font-face {
    font-family: avenirBold;
    src: url(fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: avenirDemi;
    src: url(fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
    font-family: avenirMedium;
    src: url(fonts/AvenirNextLTPro-Medium.otf);
}

@font-face {
    font-family: avenirRegular;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: avenirMediumIt;
    src: url(fonts/AvenirNextLTPro-MediumIt.otf);
}

h2 {
    font-family: avenirBold;
    text-transform: uppercase;
}

body {
    font-family: avenirRegular;
    margin: 0 !important;
    font-size: 15px;
    line-height: 1.5;
    background: #f9f9f9;
}
/*header {
    font-family: avenirBold;
    background: #91e3e0;
    text-transform: uppercase;
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
}
*/
nav
{
    font-family: avenirBold;
    background: #91e3e0;
    text-transform: uppercase;
    z-index: 1;
    position: fixed;
    width: 100%;
}
nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
}
nav li
{
    display: inline-block;
}

nav a
{
    margin-top: 20.5px;
    margin-bottom: 20.5px;
    display: block;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #5E412F;
    transition: background 0.3s, color 0.3s;
}
nav a:hover
{
    background: #404040;
    color: #ffffff;
}
@media screen and (max-width: 1120px) {
    nav li {
        display: block;
    }
    nav{
        position:relative;
    }
}
                                    /* Header */
 /*header {
    font-family: avenirBold;
    background: #91e3e0;
    text-transform: uppercase;
    padding-bottom: 0px;
    position: fixed;
    width: 64%;
    height: 94px !important;
    padding-left: 18%;
    padding-right: 18%;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.18);
}

#cim {
    float: left;
    width: 23%;
    box-sizing: border-box;
}

#cim img {
    width: 5%;
    padding-left: 40px;
    padding-top: 40px;
}

#cim a {
    font-weight: bold;
    text-decoration: none;
    color: #0c0c0c;
    display: inline-block;
    position: absolute;
    padding-top: 36px;
    padding-left: 60px;
}

nav {
    font-family: avenirMedium;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 5px;
}

li {
    list-style-type: none;
    float: left;
}

nav li a {
    display: inline-block;
    text-align: center;
    margin: 0 0px 0 0px;
    padding: 15px 15px;
}

nav a {
    display: inline-block;
    color: #0c0c0c;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: #404040;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
*/
                                    /* Slideshow */
#slideshow {
    /*padding-top: 200px;*/
    height: 494px !important;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}
.slide img{
    margin-top: 94px;
    height: 400px;
    object-fit: cover;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 8px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.textfirst {
    color: white;
    font-size: 40px;
    font-family: avenirBold;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    
}
.text{
    color: white;
    font-size: 40px;
    font-family: avenirBold;
    position: absolute;
    top: 55.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.25);    
}
.secondtext{
    color: white;
    font-size: 20px;
    font-family: avenirMedium;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.25);
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    opacity: .5;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
}
.dots{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    user-select: none;
}
.active,
.dot:hover {
    opacity: 1;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}
                                    /* Apartmanjaink */
#apartmanjaink {
    background: #f9f9f9;
    /* height: 767px !important; */
    height: 100%;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 60px;
}

h1 {
    text-transform: uppercase;
    font-family: avenirBold;
    font-size: 40px;
    letter-spacing: 2px;
}
.apartmanjaink-cim {
    font-family: avenirBold;
    font-size: 20px;
    display: inline-block;
}

.apartmanjaink-leiras {
    font-family: avenirMedium;
}

.minimum-ar {
    font-family: avenirBold;
}

.hany-fo {
    font-family: avenirMedium;
}

.apartmanjaink-tulajdonsagok {
    font-family: avenirBold;
}
.fooldalszallasokcontainer {
  display: grid;
  grid-template-columns: 30% 30% 35.5%;
  grid-template-rows: 100%;
  grid-gap: 2rem;
}
@media (max-width: 1000px) {
    .fooldalszallasokcontainer {
        grid-template-columns: 100% 100% 100%;
        clear: both;
  display: table;
    }
}
.fooldalszallasokcontainer img {
    float: left;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.gombresz
{
    text-align: center;
    float: right;
    padding-right: 50%;
}
@media (max-width: 1000px) {
    .gombresz {
        padding-right: 0%;
        float: left;
        text-align: center;
    }
}

#apartmanjaink li {
    float: right;
    display: block;
    overflow: hidden;
    padding: 10px 0 10px 20px;
    width: 10%;
}

#apartmanjaink a {
    background: #003747;
    color: #f9f9f9;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
}
#apartmanjaink a:hover {
    background: #0c0c0c;
    color: #ffffff;
}

#apartmanjaink table {
    float: right;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width: 1000px) {
    #apartmanjaink table {
        float: right;
        text-align: right;
        padding-top: 40px;
    }
}
                                    /* Kedvezmenyek */
/* #kedvezmenyek h1 {
    padding-top: 10px;
} */

#kedvezmenyek {
    font-family: avenirBold;
    padding-left: 70px;
    padding-right: 70px;
    background: #daf5f4;
    padding-top: 20px;
    /* height: 710px !important; */
    height: 100%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 50px;
}

#kedvezmenyek_ossz img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 4px solid #026a81;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}
#kedvezmenyek_1 {
        flex: 1;
      }
#kedvezmenyek_2 {
        flex: 1;
      }
#kedvezmenyek_3 {
        flex: 1;
      }

.flex-container-kedvezmenyek1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
}

.medium {
    font-family: avenirRegular;
}

/* #kedvezmenyek h2
{
    text-transform: uppercase;
    padding-top: 47px;
}
#kedvezmenyek span
{
    font-family: avenirMedium;
    display: inline;
    position: absolute;
    padding-left: 87px;
    padding-top: 18px;
}
#kedvezmenyek_1
{
    display: inline-block;
    float: left;
    padding-left: 54px;
}
#kedvezmenyek_2
{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}
#kedvezmenyek_3
{
    display: inline-block;
    float: right;
    width: 24%;
    padding-right: 54px;
} */
.flex-container-kedvezmenyek {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}

#kedvezmenyek h2 {
    padding-top: 30px;
    text-align: center;
}

#kedvezmenyek span {
    display: block;
    text-align: center;
}


.img-overlay-wrap {
    position: relative;
    /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    
}

.img-overlay-wrap img {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 200px;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
}

.img-overlay-wrap span {
    display: block;
    position: absolute;
    top: 236px;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
    color: #F9F9F9;
    font-size: 20px;
}
@media (max-width: 1200px) {
    .flex-container-kedvezmenyek {
        flex-direction: column;
        justify-content: center;
    }
}
                                    /* Programok */
#programok {
    font-family: avenirBold;
    background: #0c0c0c;
    color: #f9f9f9;
    /* height: 1000px !important; */
    height: 100%;
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 50px;
}

.flex-container-programok1 img {
    width: 350px;
    height: 180px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.flex-container-programok2 img {
    width: 350px;
    height: 180px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
#programok_1
{
    flex: 1;
}
#programok_2
{
    flex: 1;
}
#programok_3
{
    flex: 1;
}
#programok_4
{
    flex: 1;
}
#programok_5
{
    flex: 1;
}

.flex-container-programok0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5%;
}
.flex-container-programok1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}

.flex-container-programok2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}

@media (max-width: 1200px) {
    .flex-container-programok1 {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .flex-container-programok2 {
        flex-direction: column;
        justify-content: center;
    }
}

#programok span {
    font-family: avenirRegular;
    display: block;
    text-align: center;
}

#programok h2 {
    display: block;
    text-align: center;
}
                                    /* Galeria */
#galeria {
    background: #f9f9f9;
    height: 850px !important;
    /* height: 100%; */
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 30px;
}
@media (max-width: 1500px) {
    #galeria {
        height: 2050px !important;
        clear: both;
    }
}

.gallery li {
    width: 31%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    margin-top: 30px;
    list-style-type: none;
}
@media (max-width: 1500px) {
    .gallery li{
        float: left;
        clear: both;
    }
}

/*.gallery a {
    background: transparent;
    padding: 0;
    display: block;
    height: 100%;
    opacity: 0.85;
    transition: opacity 0.3s;
}

.gallery a:hover {
    opacity: 1;
}*/

.gallery img {
    width: 340px;
    height: 240px;
    object-fit: cover;
    object-position: center center;
    float: left;
    border-radius: 10px;
    border: 1px solid grey;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
    opacity: 0.9;
    transition: opacity 0.3s;
}
.gallery img:hover{
    opacity: 1;
    cursor: pointer;
}
#tema{
    margin: 20px 0 100px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: avenirBold;
    font-size: 19px;
}
@media (max-width: 1500px) {
    .gallery-div{
        margin: auto;
        width: 50%;
    }
}
#lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.90);
    animation: blank 0.3s forwards;
}
@keyframes open{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes close{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#close{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 2%;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}
#close:hover{
    color: #c4c4c4;
}
#active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    transform-origin: center;
}
#vissza{
    left: 2%;
}
#tovabb{
    right: 2%;
}
#tovabb, #vissza{
    color: white;
    font-size: 1.5vw;
    position: absolute;
    bottom: 52%;
    padding: .8%;
    cursor: pointer;
    user-select: none;
    background: rgba(0,0,0,0.70);
    border-radius: 20%;
    transition: 0.2s;
}
#tovabb:hover, #vissza:hover{
    background: rgba(0,0,0,0.90);    
}
#sorszam{
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#galeriaVissza, #galeriaTovabb{
    font-family: avenirBold;
    font-size: 16px;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}
#galeriaVissza:hover, #galeriaTovabb:hover{
    background: rgba(0, 0, 0, 1);
}
                                    /* Szolgaltatasok */
#szolgaltatasok {
    background: #daf5f4;
    /* height: 1200px !important; */
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 30px;
    padding-bottom: 50px;
}

#szolgaltatasokboxok img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#szolgaltatasok span {
    font-family: avenirMedium;
    display: block;
    text-align: center;
}

#szolgaltatasok h2 {
    text-align: center;
}
.flex-container-szolgaltatasokelemek {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5%;
}

/* FLEXBOX */
.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 26%;
    padding-bottom: 20px;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 26%;
    padding-bottom: 20px;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 26%;
}
.szolgegy {
        flex: 1;
      }

.szolgketto {
        flex: 1;
      }

.szolgharom {
        flex: 1;
      }
.szolgnegy {
        flex: 1;
      }

.szolgot {
        flex: 1;
      }

.szolghat {
        flex: 1;
      }
.szolghet {
        flex: 1;
      }

.szolgnyolc {
        flex: 1;
      }

.szolgkilenc {
        flex: 1;
      }

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container1 {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .flex-container2 {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .flex-container3 {
        flex-direction: column;
        justify-content: center;
    }
}

.elemek {
    float: left;
    width: 50%;
    pointer-events: none;


}
                                    /* Foglalas.html */
#foglalas {
    padding-top: 120px;
    padding-left: 18%;
    padding-right: 18%;
    background: #f8f8f8;
}

#foglalas #forms {
    width: 60%;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    font-family: avenirMedium;
}

input[class="atlatszo"] {
    background: rgba(0, 0, 0, 0);
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #757575;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

#fizetes {
    font-family: avenirMedium;
}
#hibauzenet{
    float: right;
    margin-right: 24px;
    color: red;
    font-family: avenirDemi;
    animation: blank 5s forwards;
    opacity: 0;
}
@keyframes hiba {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 0;}
}

#foglalas aside {
    float: right;
    box-sizing: border-box;
    width: 35%;
    padding-right: 1%;
}

#foglalas #asidekep img {
    width: 408px;
    height: 283px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    border: 1px solid #0c0c0c;
    margin-top: 20px;
}

#foglalas aside .elemekfoglalas
{
    padding-bottom: 20px;
}

#foglalasteljeshossz input {
    width: 96.5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0c0c0c;
}

#foglalasfelhossz input {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0c0c0c;
}

#foglalas select {
    width: 96.5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #0c0c0c;
}

#foglalas label {
    color: #6c6c6c;
}

#foglalas a {
    text-transform: uppercase;
    color: #6c6c6c;
    text-decoration: none;
}

#foglalas #forms h2 {
    padding-left: 36%;
    font-weight: bold;
}

#foglalas h5 {
    padding-left: 42%;
    color: #6c6c6c;
}

#foglalas button {
    background: #003747;
    color: #f9f9f9;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 37%;
    font-weight: bold;
    border-radius: 10px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: default;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

#foglalas button:active {
    outline: none;
}

@keyframes aktiv {
    from {
        background: gray;
    }

    to {
        background: #003747;
        cursor: pointer;
    }
}

@keyframes nemaktiv {
    from {
        cursor: default;
        background: #003747;
    }

    to {
        cursor: default;
        background: gray;
    }
}

#foglalas button a {
    color: #f9f9f9;
    text-decoration: none;
}
                                    /* Velemeny.html */
#velemeny{
    background: #f9f9f9;
    height: 947px !important;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-left: 18%;
    padding-right: 18%;
}
#velemeny h3
{
    text-transform: none;
    text-align: center;
    font-size: 26px;
    font-family: avenirBold;
}
#velemeny h2
{
    text-align: center;
}
#velemenybal
{
    float: left;
    width: 35%;
    box-sizing: border-box;
}
#velemenyjobb
{
    float: right;
    width: 60%;
    box-sizing: border-box;
}
#velemenybal img
{
    width: 100%;
    border-radius: 10px;
}
#stars
{
    display: block;
    text-align: center;
    font-size: 26px;
    width: 40%;
    margin: auto;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#stars span{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
#szallasokstars
{
    display: block;
    text-align: right;
}
#pont{
    font-family: avenirBold;
    font-size: 20px;
    margin: auto;
    animation: blank 1s forwards;
    opacity: 0;
    visibility: hidden;
}
@keyframes pontszam{
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}
#velemenyteljeshossz input {
    width: 96.5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0c0c0c;
}
#velemenyfelhossz textarea
{
    border-radius: 5px;
    border: 1px solid #0c0c0c;
    width: 100%;
}
#velemenyfelhossz{
    float: left;
    width: 45%;
}
#megjegyzes{
    float: right;
    width: 50%;
    
}
#hatranyok h4
{
    padding-top: 6px;
}
#megjegyzes button{
    float: right;
    background: #0c0c0c;
    color: #f9f9f9;
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-right: 8%;
    font-weight: bold;
    border-radius: 6px;
    appearance: button;
    animation: blank 0.5s forwards;
    cursor: default;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
}
#megjegyzes a
{
    text-decoration: none;
    color: #F9F9F9;
}
#megjegyzes textarea{
    border-radius: 6px;
    border: 1px solid #0c0c0c;
    width: 91%;
}
.velemenykuldes:hover{
    padding: 30px;
}

                                    /* Szallasok.html */
.apartmanok
{
    background: #f9f9f9;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 13%;
    padding-right: 13%;
}
.apartmanok img
{
    object-fit: cover;
}
#szallasokaloldal
{
    padding-top: 100px;
}
/* .apartmanok a
{
    background: #003747;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    appearance: button;
    display: block;
} */
.apartmanok a
{
    text-decoration: none;
    color: #f9f9f9;
}
.apartmanok button {
    background: #003747;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    border-radius: 10px;
    appearance: button;
    animation: blank 0.5s forwards;
    border: none;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.16);
}
.apartmanok table
{
    text-align: left;
}
.apartmanok table th{
    background: rgba(0, 0, 0, 0.08);
}
.szallasokcontainer .item1
{
    text-align: center;
}
.szallasokmainkep
{
    margin-top: 30px;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    filter: brightness(100%);
    transition: 0.3s;
}
.szallasokmainkep:hover{
    filter: brightness(80%);
}
.szallasokkiskep
{
    position: relative;
    border-radius: 10px;
    width: 100px;
    overflow: hidden;
    /* <= shrinks container to image size */
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
    cursor: pointer;
    filter: brightness(100%);
    transition: 0.3s;
}
.szallasokkiskep:hover{
    filter: brightness(80%);
}
.prevszallas,
.nextszallas {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 14px;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    font-weight: bold;
    font-size: 6px;
    transition: 0.6s ease;
    border-radius: 8px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.nextszallas {
    top: 725px;
    right: 1005px;

}
.prevszallas {
    top: 725px;
    left: 162px;
}

.prevszallas:hover,
.nextszallas:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.szallasokcontainer {
  display: grid;
  grid-template-columns: 40% 30% 20%;
  grid-template-rows: 150px;
  grid-gap: 2rem;
}
.attekintescontainer {
    padding-top: 50px;
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 2rem;
}
.attekintescontainer .item2
{
    text-align: right;
} 
.szallasokcontainer .item3
{
    text-align: right;
}
.szallasokszolgaltatasok img
{
    width: 10%;
}
.szallasokszolgaltatasok
{
    margin-top: 40%;
}
.szolgaltatasokcontainer img
{
    width: 100%;
}
.szolgaltatasokcontainer { 
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-template-rows: 150px;
  grid-gap: 3rem;
    text-align: center;
    font-family: avenirBold;
    font-size: 20px;
}
.apartmanok a
{
    transition: background 0.3s, color 0.3s;
}
.apartmanok a:hover {
    color: #91e3e0;
}
/* Footer */
footer {
    background: #0c0c0c;
    color: #f9f9f9;
    /* height: 796px !important; */
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 30px;
    padding-bottom: 50px;
}
@media (max-width: 1000px) {
    .column {
        clear: both;
    }
}
.column a {
    text-decoration: none;
    color: #f9f9f9;
}

footer hr {
    border: 4px solid #f9f9f9;
    width: 8%;
    float: left;
    display: block;
    overflow: hidden;
}

footer table {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    float: right;
}

footer td {
    height: 60px;
}

#footerEmail img {
    width: 40px;
    margin-top: 4px
}

#footerApartman img {
    width: 50px;
    margin-top: 14px
}

#footerVendeghaz img {
    width: 50px;
    margin-top: 22px
}

#footerFacebook img {
    width: 50px;
    margin-top: 15px;

}

#footerTelefon img {
    width: 30px;
    margin-top: 1px;
    margin-left: 15px;
}

.elemekfooter {
    float: left;
    width: 33.33%;
    pointer-events: none;

}
.elemekprogramok {
    float: left;
    width: 50%;
    pointer-events: none;
    
}

.elemekfoglalas {
    float: left;
    width: 100%;
    pointer-events: none;
    
}

.elemekprogramok #jobbelem {
    float: right;
    clear: both;
}

.elemek #balelem {}

.elemek #jobbelem {
    float: right;
}

.elemek #kozepelem {
    padding-left: 30%;
}

.elemekfooter #balelem {}

.elemekfooter #jobbelem {
    float: right;
}

.elemekfooter #kozepelem {
    padding-left: 30%;
}

.column img {
    border-radius: 10px;
}
.thumb{
    border: none;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.16);
}
.column button {
    background: #f9f9f9;
    color: #0c0c0c;
    text-transform: uppercase;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    border-radius: 10px;
    appearance: button;
}

.column input {
    padding-top: 0px;
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0c0c0c;
}
@media (max-width: 1000px) {
    .column input {
        width: 100%;
    }
}

.column textarea {
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #0c0c0c;
}
@media (max-width: 1000px) {
    .column textarea {
        width: 100%;
    }
}


.column {
    float: left;
    width: 33.33%;
}
@media (max-width: 1000px) {
    .column {
        width: 100%;
    }
}
.vastag {
    font-family: avenirBold;
    text-transform: uppercase;
}

.column #lablec_nevjegy {
    float: right;
}
/* @media (max-width: 1000px) {
    .column #lablec_nevjegy {
        display: inline-table;
    }
} */
/* @media (max-width: 1000px) {
    .column #lablec_nevjegy {
        width: 100%;
        float: left;
    }
} */

.column #lablec_nevjegy img {
    float: right;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 70%;
}
@media (max-width: 1000px) {
    .column #lablec_nevjegy img {
        float: left;
        margin-left: 25%;
        width: 50%;
    }
}
.column #lablec_nevjegy p {
    float: right;
    font-family: avenirMedium;
    padding-left: 50%;
    padding-right: 2%;
    font-size: 13px;
}
@media (max-width: 1000px) {
    .column #lablec_nevjegy p {
        float: left;
        padding-left: 44%;
        width: 10%;
    }
}
.column #lablec_nevjegy h2 {
    float: right;

}
@media (max-width: 1000px) {
    .column #lablec_nevjegy h2 {
        float: none;
         text-align: center;
    }
}
.column #lablec_nevjegy span {
    font-family: avenirMedium;
    padding-left: 53%;
    font-size: 16px;
}
@media (max-width: 1000px) {
    .column #lablec_nevjegy span {
        float: left;
        width: 100%;
        padding-left: 30%;
    }
}

.column #lablec_elerhetoseg {
    padding-left: 10%;
    width: 70%;
}
@media (max-width: 1000px) {
    .column #lablec_elerhetoseg {
        padding-left: 0%;
        width: 100%;
    }
}

.column #lablec_elerhetoseg h2 {
    margin-left: 15%;
}
@media (max-width: 1000px) {
    .column #lablec_elerhetoseg h2 {
        margin-left: 0%;
        float: none;
         text-align: center;
    }
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

textarea {
    resize: none;
}

#kuldes {
    font-family: avenirBold;
    border: none;
}
#kuldes:active{
    outline: none;
}
#kuldes:hover{
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    color: #91e3e0;
}
footer a
{
    transition: background 0.3s, color 0.3s;
}
footer a:hover {
    color: #91e3e0;
}

.apartmanok {
    height: 100%;
}
input.kapcsolat, textarea.kapcsolat{
    border: 2px solid #C7C7C7;
}